.banks {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: var(--padding);

  &_top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
    }
  }

  &_table {
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 16px;
    width: 100%;

    &_container {
      border-radius: 16px !important;
      border: 1px solid var(--bg-tertlary) !important;
      overflow-x: auto;
      max-width: 512px;
    }

    thead {
      color: var(--text-secondary);
      background: var(--bg-secondary);
    }

    tbody {
      > :nth-child(even) {
        background: #26252a;
      }

      tr {
        cursor: pointer;

        &:hover {
          background: var(--bg-color);
        }
      }
    }

    tr > :last-child {
      justify-content: flex-end;
      text-align: right;
    }

    tr {
      background: var(--bg-secondary);
    }

    td {
      border: 1px solid var(--bg-tertlary);
      padding: 10px var(--padding);
      white-space: nowrap;
      flex-wrap: nowrap;

      span {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: fit-content;
        margin-left: auto;
        text-align: right;
        gap: 5px;
        padding: 3px 10px;
        border-radius: 8px;
      }
    }
  }
}
