.sidebar {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: var(--modal-bg);
  padding: var(--padding);
  height: 100vh;
  position: sticky;
  top: 0;
  width: 100%;
  transition: all 0.3s ease;

  &_profile {
    display: none;

    @media (max-width: 760px) {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

  &_top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_closeButton {
      background: none;
      border: none;
      transition: all 0.3s ease;
      cursor: pointer;
    }
  }

  &_links {
    border-top: 2px solid var(--bg-color);
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    &_item {
      padding: 10px 15px;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
      border-radius: 8px;
      text-decoration: none;
      transition: all 0.3s ease;
      cursor: pointer;

      &:active {
        transform: scale(0.96);
        transition: all 0.2s ease;
      }

      &_disabled {
        transition: all 0.3s ease;
        gap: 0;
        width: fit-content;
        max-width: fit-content;

        p {
          opacity: 0;
          max-width: 0;
          width: 0;
        }
      }

      svg {
        width: 24px;
      }

      p {
        transition: all 0.3s ease;
        color: var(--text-secondary);
      }
    }
  }

  @media (max-width: 1024px) {
    position: fixed;
    z-index: 9990999;

    &_bg {
      content: "";
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999999;

      background: #00000070;
    }
  }

  @media (max-width: 760px) {
    transform: translate(100%);
    right: 0;

    &_opened {
      transform: translate(0%);
    }

    &_top_closeButton {
      transform: rotate(180deg) !important;
    }
  }
}
