.appeals {
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  gap: 24px;
  background: var(--bg-color);

  &_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    section {
      display: flex;
      align-items: center;
      gap: 20px;

      p {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
      }

      @media (max-width: 650px) {
        flex-direction: column-reverse;
        align-items: flex-start;
      }
    }

    @media (max-width: 650px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &_search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 8px;
    background: var(--bg-secondary);
    color: var(--text-primary);
    border: 1px solid var(--bg-tertlary);

    input {
      background: none;
      border: none;
      outline: none;
    }
  }

  &_table {
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 16px;
    width: 100%;

    &_container {
      border-radius: 16px !important;
      border: 1px solid var(--bg-tertlary) !important;
      overflow-x: auto;
    }

    thead {
      color: var(--text-secondary);
      background: var(--bg-secondary);

      tr > :nth-child(1) {
        border: 1px solid var(--bg-tertlary);
      }

      td {
        padding: 16px 32px 8px 32px !important;
      }
    }

    tr {
      background: var(--bg-secondary);
      border: 1px solid var(--bg-tertlary);

      > :nth-child(1) {
        border-right: 1px solid var(--bg-tertlary);
        border-radius: 0;
      }
    }

    tbody {
      > :nth-child(odd) {
        background: #26252a;
      }

      tr {
        cursor: pointer;

        &:hover {
          background: var(--bg-color);
        }
      }
    }

    td {
      padding: 10px 24px;
      border-radius: 0;
      white-space: nowrap;
      flex-wrap: nowrap;

      span {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: fit-content;
        margin-left: auto;
        text-align: right;
        gap: 5px;
        padding: 3px 10px;
        border-radius: 8px;
      }
    }

    &_status {
      span {
        gap: 10px !important;

        span {
          font-size: 20px;
          padding: 0;
        }
      }
    }
  }
}
