.layout {
  display: flex;
  width: 100%;
  min-height: 1080px;
  overflow: auto;

  &_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: all 0.3s ease;
    background: var(--bg-color);
  }

  @media (max-width: 1024px) {
    height: 100vh !important;
    min-height: 0;
  }
}
