.layout {
  display: flex;
  width: 100%;
  min-height: 100vh;

  &_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s ease;
    background: var(--bg-color);
  }
}
